*{
	box-sizing: border-box;
}

.page2-header{
	width: 100%;
	height: 240px;
	padding: 30px 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.page2_img{
	background-image: url(../assets/page1.jpg);
}

.page3_img{
	background-image: url(../assets/page2.png);
}

.page4_img{
	background-image: url(../assets/page3.png);
}

.page5_img{
	background-image: url(../assets/page5.png);
}

.page6_img{
	background-image: url(../assets/page7.webp);
}

.page2-header h1{
	font-size: 50px;
	font-weight: 700;
	color: white;
}

.page2-header p{
	color: white;
	font-weight: 500;
	margin-top: 30px;
}

hr{
  margin: 20px 200px;
}

.page2-maintop{
	width: 100%;
	height: auto;
	display: flex;
	padding: 10px 200px;
}

.page2-maintop-left {
	max-width: 550px;
	padding-top: 20px;
	height: auto;
}

.page2-maintop-left h1{
	color: #232628;
	font-size: 35px;
	margin-top: 0px;
}

.page2-maintop-left p{
	font-size: 17px;
	word-spacing: 1px;
	color: #555560;
	line-height: 25px;
}

.page2-maintop-right {
	max-width: 550px;
	height: 280px;
	border: 1px solid grey;
	padding: 0px 20px;
}

.page2-maintop-right h1{
	text-align: center;
	color: darkred;
	margin: 5px;
	font-size: 22px;
	font-weight: 500;

}

.page2-maintop-right input{
	width: 100%;
	padding: 12px;
	border: none;
	background-color: #F3D41B;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0;
}

.page2-maintop-right button{
	width: 100%;
	padding: 12px;
	margin-left: -0px;
	background-color: #AF2812;
	color: white;
	margin: 5px 0;
	font-size: 19px;
}

.page2-maintop-right p{
	cursor: pointer;
}

.page2-maintop-right button:hover{
	background-color: blue;
}

.page2-video1{
	width: 100%;
	height: auto;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page2-details{
	width: 100%;
	height: auto;
	padding: 10px 200px;
}

.page2-details h1{
	color: #232628;
	font-size: 30px;
	margin: 10px 0;
}

.page2-details p{
	font-size: 17px;
	word-spacing: 1px;
	color: #555560;
	line-height: 25px;
}

.page2-image{
	width: 100%;
	height: auto;
	padding: 20px 280px;
}

.page2-image img{
	width: 100%;
}

.page2-image h1{
	color: black;
	text-align: center;
}

.page2-accordion{
	width: 100%;
	height: auto;
	padding: 15px 200px;
}

.page6-img{
	width: 100%;
	height: auto;
	padding: 80px 200px;
	display: flex;	
	justify-content: space-between;
}

.page6-img img{
	width: 550px;
	height: 350px;
	margin-right: 20px;
}

@media screen and (max-width:1400px){

	.page2-header{
	 	padding:20px 150px;
	}	
	.page2-header h1{
	 	font-size: 40px;
	}	

	hr{
  margin: 20px 120px;
}	
.page2-maintop{
	padding: 10px 120px;
}
.page2-accordion{
	width: 100%;
	height: auto;
	padding: 15px 120px;
}
.page2-maintop-left h1{
	font-size: 30px;
}

.page2-maintop-left p{
	font-size: 16px;
}
}

@media screen and (max-width:1200px){
	.page2-header{
	 	padding:20px 100px;
	}	
	.page2-header h1{
	 	font-size: 35px;
	}	

	hr{
  margin: 20px 80px;
}	
.page2-maintop{
	padding: 10px 80px;
}
.page2-accordion{
	padding: 15px 80px;
}
.page2-image{
 padding: 15px 200px;
}
.page2-maintop-left h1{
	font-size: 28px;
}

.page2-maintop-left p{
	font-size: 15px;
}
}


@media screen and (max-width:900px){
	.page2-header{
	 	padding:20px 60px;
	}	
	.page2-header h1{
	 	font-size: 30px;
	}	

	hr{
  margin: 20px 40px;
}
.page2-maintop{
	padding: 10px 40px;
	display: block;
}
.page2-accordion{
	padding: 15px 40px;
}

.page2-details{
	width: 100%;
	height: auto;
	padding: 10px 40px;
}
.page2-video1 iframe{
	width: 480px;
	height: 330px;
}

.page2-image{
 padding: 10px 80px;
}

}

@media screen and (max-width:500px){
	.page2-header{
	 	padding:20px 20px;
	 	height: 200px;
	}	
	.page2-header h1{
	 	font-size: 28px;
	}	

	hr{
  margin: 10px 20px;
}
.page2-maintop{
	display: block;
	padding: 5px 20px;
}
.page2-accordion{
	width: 100%;
	height: auto;
	padding: 5px 20px;
}

.page2-video1 iframe{
	width: 450px;
	height: 300px;
}
.page2-image{
	padding: 5px 40px;
}
}